* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ul,
li {
  list-style: none;
}
.App {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.userInfo {
  display: flex;
  gap: 10px;
}
.user {
  display: flex;
  gap: 10px;
}

/* SelectBox 에 대한 반응형 */
.responsive-select {
  width: 100%;
  max-width: 400px; /* 큰 화면에서는 최대 400px */
  min-width: 180px; /* 너무 작아지지 않도록 최소값 */
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 6px;
}

/* 모바일에서 좀 더 편하게 */
@media (max-width: 576px) {
  .responsive-select {
    font-size: 15px;
    padding: 6px 10px;
  }
}
