.register-form input,
.register-form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.register-form button {
  width: 100%;
  padding: 12px;
  background: #444;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
.register-page {
  display: flex;
  flex-direction: column; /* 세로 방향 */
  gap: 20px;
}
.register-btn:disabled {
  background-color: #ccc !important; /* 회색 */
  border-color: #ccc !important;
  cursor: not-allowed !important; /* 마우스 금지 표시 */
  opacity: 0.7;
}
